@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
header{
    text-align: center;
    background-color: aliceblue;
    color: green;
}
article.content1{
    background-color: aquamarine;
    color: rgb(41, 13, 199);

}
article.content2{
    background-color: rgb(223, 119, 22);
    color: rgb(227, 226, 236);

}
article.content2 h2{
    text-align: center;
}
article.content2 h3{
    background-color: aquamarine;
    color: rgb(41, 13, 199);

}
article.content3{
    background-color: rgb(182, 171, 161);
    color: rgb(0, 0, 0);

}
article.content3 h3+ol{
    background-color: rgb(182, 171, 161);
    color: rgb(231, 9, 9);

}
article.content4 h2{
    text-align: center;
    color: rgb(84, 228, 18);

}
article.content4{
    background-color: rgba(11, 245, 148, 0.192);
    color: rgb(8, 8, 8);

}