@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0f1520;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
}
.nav-bar{
    display: inline-block;
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: #121926;
    margin-bottom: 5px;
}

.nav{
    width: 100%;
    height: 60px;
    padding: 2% 0.5%;
    margin-top: 3px;
    margin-left: 10px;
    position: relative;
    /* position: fixed; */
    z-index: 5;
}
.dropdwn a{
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    padding-top: 6%;
    padding-bottom: 2%; /*1.5% 1.5% 4%; */
}
.dropdwn-container1, .dropdwn-container2, .dropdwn-container3, .dropdwn-container4{
    display: inline;
    position: relative;
    transition: all 150ms ease-in-out;
}
.dropdwn-container1 a, .dropdwn-container2 a, .dropdwn-container3 a, .dropdwn-container4 a{
    height: 100px;
}
.dropdwn-content1 a, .dropdwn-content2 a, .dropdwn-content3 a, .dropdwn-content4 a{
    display: block;
    font-weight: 500;
}
.dropdwn-content3, .dropdwn-content4{
    position: absolute;
    background-color: #192233;
    top: 45px;
    left: 4px;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    transition: all 100ms ease-in;
}

.dropdwn-content2{
    position: absolute;
    background-color: #192233;
    top: 45px;
    left: 3px;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    transition: all 300ms ease-in;
}
.dropdwn-content1{
    position: absolute;
    background-color: #192233;
    top: -3px;
    left: 4px;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    padding-left: 2px;
    transition: all 200ms ease-in;
}
.dropdwn .brand{
    position: absolute;
    top:12px;
    left: 70px;
}
.dropdwn .kids{
    position: absolute;
    top:23px;
    left: 475px;
}
.extra-nav{
    margin-left: 13%;
}
.nav .dropdwn .dropdwn-container2 a{
    padding-left: 2%;
    /* margin-left: 7px; */
    /* text-align: center; */
}
.nav .dropdwn .dropdwn-container3 a{
    padding-left: 2%;
    /* margin-left: 7px; */
    /* text-align: center; */
}
.nav .dropdwn .dropdwn-container4 a{
    padding-left: 2%;
    /* margin-left: 7px; */
    /* text-align: center; */
    /* margin-top: 5px; */
}
.nav .dropdwn .dropdwn-container4 .sports-contents a{
    padding-left: 10%;
}
.nav .dropdwn .dropdwn-container3 .movies-contents a{
    padding-left: 10%;
}
.nav .dropdwn .dropdwn-container2 .tv-contents a{
    padding-left: 10%;
}
.nav .dropdwn .common{
    padding-left: 2%;
}

.dropdwn-container1 .bar{
    width: 30px;
    position: absolute;
    height: 35px;
    left: 20px;
    top: 1px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.channels{
    position: relative;
}
.language{
    position: relative;
}
.geners{
    position: relative;
}
.dropdwn-content1 .channels-img{
    width: 22px;
    position: absolute;
    top: 9px;
    left: 15px;
}
.dropdwn-content1 .language-img{
    width: 22px;
    position: absolute;
    top: 9px;
    left: 15px;
}
.dropdwn-content1 .geners-img{
    width: 25px;
    position: absolute;
    top: 3px;
    left: 15px;
}
.dropdwn-container1 .dropdwn-content1 a{
    width: 131px;
    height: 42px;
    font-size: 15px;
    color: rgba(255, 255, 255, .8);
    padding-left: 50px;
}
.dropdwn-container1 .dropdwn-content1 a:hover{
    color: rgba(255, 255, 255, 1);
}

.dropdwn-container2 .dropdwn-content2 a{
    width: 123px;
    height: 42px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

.dropdwn-container3 .dropdwn-content3 a{
    width: 88px;
    height: 42px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

.dropdwn-container4 .dropdwn-content4 a{
    width: 134px;
    height: 42px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}
.dropdwn-container1:hover .dropdwn-content1{
    /* display: block; */
    opacity: 1;
    top: 29px;
    pointer-events: auto;
}
.dropdwn-container2:hover .dropdwn-content2{
    /* display: block; */
    opacity: 1;
    top: 30px;
    pointer-events: auto;
}
.dropdwn-container3:hover .dropdwn-content3{
    /* display: block; */
    opacity: 1;
    top: 30px;
    pointer-events: auto;
}
.dropdwn-container4:hover .dropdwn-content4{
    /* display: block; */
    opacity: 1;
    top: 30px;
    pointer-events: auto;
}
.dropdwn-content1 a:hover{
    background-color: #0C111B;
}
.dropdwn-content2 a:hover{
    background-color: #0C111B;
}
.dropdwn-content3 a:hover{
    background-color: #0C111B;
}
.dropdwn-content4 a:hover{
    background-color: #0C111B;
}
.dropdwn-container1 a:hover{
    color: rgba(255, 255, 255, 1);
}
.dropdwn-container2 a:hover{
    color: rgba(255, 255, 255, 1);
}
.dropdwn-container3 a:hover{
    color: rgba(255, 255, 255, 1);
}
.dropdwn-container4 a:hover{
    color: rgba(255, 255, 255, 1);
}
.search{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 500;
    transition: 500ms;
}
.search:focus{
    border-color: #1f80e0;
    width: 332px;
}
.searchbox{
    top: 20px;
    position: absolute;
    right: 210px;
}
.magnifine-glass{
    position: absolute;
    width: 12px;
    right: 215px;
    top: 30px;
}
.sub-btn{
    background: #1f80e0;
    height: 25px;
    width: 100px;
    padding: 0 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}
.log-in{
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    padding-left: 8px;
}
.right-btn{
    top: 23px;
    position: absolute;
    right: 40px;
}
/* ####################################### Banner Slider ################################################################# */

.banner-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 6px 50px;
    /* margin-top: 5px; */
    overflow-x: hidden;
    z-index: 0;
}
.nxt, .pre{
    position: absolute;
    z-index: 6;
    height: 40px;
    width: 25px;
    opacity: 0;
}
.nxt{
    top: 220px;
    left: 10px;
}
.banner-container:hover .nxt{
    opacity: 1;
}
.banner-container:hover .pre{
    opacity: 1;
}
.pre{
    top: 220px;
    right: 10px;
}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;

}
.slider img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.slide-content{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 80%, #0C111b00);
    color: #fff;
}
.title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.description{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 20px;
    opacity: 0.8;
}
.sub-title{
    width: 80%;
    line-height: 20px;
    padding-left: 50px;
    margin-top: 20px;
    opacity: 0.8;
}
.banner{
    display: flex;
    width: 16.666%;
    float: left;
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    /* background: #000; */
}
.figure{
    position: relative;
    left: 0;
    width: 600%;
    height: 100%;
    animation: 20s slide infinite;
}

@keyframes slide{
    0%{
        left: 0;
    }
    15%{
        left:0;
    }
    20%{
        left: -100%;
    }
    35%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    55%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    75%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -500%;
}
}
/* ::-webkit-scrollbar{
    display: none;
} */

/* ################################################## Movies Card ################################################### */

.card-title{
    color: #fff;
    opacity: 0.9;
    padding-left: 2%;
    margin-top: 3%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
.movie-list{
    position: relative;
    width: 100%;
    height: 220px;
    margin: 6px 0 20px;
}
.card-container{
    position: absolute;
    width: 100%;
    height: 250px;
    padding-left: 10px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}
.card{
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: -10px;
    transition: .5s;
}
.card-container::-webkit-scrollbar{
    display: none;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4 ,8 ,15 ,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
    opacity: 0;
}
.name{
    color: #fff;
    font-size: 15px ;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 30%;
}
.des{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    margin: 5px 0;
}
.watchlist-btn{
    background: none;
    position: absolute;
    width: 90%;
    height: 20px;
    top: 75%;
    left: 5px;
    border: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    margin: 5px 0;
    cursor: pointer;
    padding-top: 0px;
    border-radius: 5px;
    text-align: center;
}
.watchlist-btn::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-image: url(../add.png);
    background-size: cover;
    transform: scale(0.4);
}
.watchlist-btn:hover{
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.play-btn{
    background: none;
    position: absolute;
    width: 90%;
    height: 20px;
    top: 60%;
    left: 5px;
    border: none;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
    margin: 5px 0;
    cursor: pointer;
    padding-top: 2px;
    padding-top: 0px;
    border-radius: 5px;
    text-align: center;
    /* background-image: url(../play.png); */
}
.play-btn::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 2px;
    height: 25px;
    width: 25px;
    background-image: url(../play.png);
    background-size: cover;
    transform: scale(0.4);
    opacity: .5;
}
.watchlist-btn:hover{
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.play-btn:hover{
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.card:hover .card-body{
    opacity: 1;
}
.card:hover{
    transform: scale(1.2);
    z-index: 4;
}
